.heroSection {
    background-image: url(../../assets/image-hero-coffeepress.jpg);
    height: 80vh;
    background-size: cover;
    margin: 0 5rem;
    border-radius: 1rem;

    & p {
        width: 445px;
    }
}

.contenedorProductos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;

    & img {
        width: 15.9375rem;
    }

    & h5 {
        font-family: 'Fraunces', sans-serif;
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        text-align: center;
        color: #333D4B;
    }
}