.buttonCancel {
    font-family: Barlow;
}
.buttonConfirm {
    background-color: #0E8784;
    font-family: Barlow;
}
.modalP {
    font-family: Barlow;
    font-size: 1.2rem;
}
.modalTitle {
    font-family: Fraunces;
    font-size: 1.85rem;
}