
.contenedor-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 2rem;
}
.cantidad {
  padding: 5px;
  margin: 0 5rem 0 5rem ;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.stock-disponible {
  font-family: 'Fraunces', sans-serif;
  font-weight: 400;
  font-size: .75rem;
  padding: .5rem;
}

.contenedor-detalles {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.contenedor-detalles img {
  width: 600px;
  margin-right: 5rem;
}
.contenedor-detalles h2 {
  font-size: 2.5rem;
  margin: 2rem;
}
.contenedor-detalles p {

}
.contenedor-categorias {
  display: flex;
  justify-content: space-around;
  font-family: 'Fraunces', sans-serif;
  font-size: 1.25rem;
  background: rgba(253, 214, 186, 1);
  width: 100%;
}
.producto-descripcion {
  height: 78px;
  width: 255px;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-top: 1.5rem;
}
.checkout {
  font-family: 'Barlow', sans-serif;
  background-color: #0E8784;
  border: none;
  cursor: pointer;
  padding: .45rem .825rem;
  color: white;
  font-size: 1.1rem;
  font-family: 'Fraunces', sans-serif;
}

/* CARRITO */
.text-carrito {
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 2.5rem;
}
.contenedor-item-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contenedor-item-cart >* {
  padding: 2rem;
}
.contenedor-item-cart img {
  width: 10rem;
  padding: 0;

}
.btnEliminar {
  background-color: #0E8784;
  border: none;
  cursor: pointer;
  padding: 1rem;
  color: white;
  font-size: 1.1rem;
  font-family: 'Fraunces', sans-serif;
}
.ordenSummary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 15rem;
  margin-top: 2rem;
  border: 1px solid black;
  margin: 3rem 20rem;
}
.ordenSummary >* {
  font-size: 1.5rem;
  font-family: 'Barlow', sans-serif;
}

.btnCantidad:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.hero-aboutUs {
  background-image: url(../src/assets/image-hero-whitecup.jpg);
  height: 80vh;
  background-size: cover;
  margin: 0 5rem;
  border-radius: 1rem;
}
.container-commitment {
  display: flex;
  margin: 10.5rem;
}
.container-commitment img {
  height: 520px;
  width: 445px;
  border-radius: 5px;
}
.text-commitment {
  margin: 7.8125rem;
}
.text-commitment h3 {
  font-family: 'Fraunces', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 48px;
  margin-bottom: 32px;
}
.text-commitment p {
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;

}